include CHANGELOG.rst
include LICENSE.txt
exclude docs/requirements.txt
exclude .gitignore
exclude Makefile
exclude docs/*.ipynb
exclude docs/index.rst
exclude docs/conf.py
exclude release.txt
exclude todo.rst